.offer__content {
    width: 90%;
    margin: auto;
    text-align: center;
    h1 {
        @include styleText($color-gray-2, $fs-6, $fw-normal);
        margin: $mg-5 0 $mg-3;
    }
    .mustang {
        @include styleText($color-blue-1, $fs-3 - 1, $fw-slim);
        &:hover {
            text-decoration: none;
        }
        img {
            width: 50%;
        }
        p {
            margin: $mg-3 0;
        }
    }
    .price {
        @include styleText($color-gray-2, $fs-1, $fw-normal);
        sup {
            cursor: pointer;
            padding: $pd-0;
            @include styleText($color-blue-1, $fs-1, $fw-normal);
        }
    }
    .view {
        @include styleText($color-blue-1, $fs-2, $fw-slim);
        margin: $mg-3 0;
        &:hover {
            text-decoration: none;
            color: $color-blue-2;
        }
    }
}

.modal-content {
    padding: $pd-10;
    .modal-header {
        align-items: flex-end;
        border-bottom: none;
        padding-bottom: 0;
        .modal-title {
            @include styleText($color-gray-4, $fs-1, $fw-slim);
        }
        .close {
            @include styleText($color-blue-1, $fs-6 + 8, $fw-slim);
            outline: none;
        }
    }
    .modal-body {
        padding: $pd-10;
        @include styleText($color-gray-4, $fs-2, $fw-slim);
    }
}

// RESPONSIVE
.offer__content {
    //992px
    @include responsive("large"){
        h1 {
            @include styleText($color-gray-2, $fs-5 + 6, $fw-normal);
            margin: $mg-5 0 $mg-3;
        }
    }
    //768px
    @include responsive("medium"){
        h1 {
            @include styleText($color-gray-2, $fs-5, $fw-normal);
        }
    }
    //576px
    @include responsive("small") {
        h1 {
            @include styleText($color-gray-2, $fs-3, $fw-normal);
        }
        img{
            width: 60%;
        }
    }
}
